<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glowxq.oj.topic.mapper.TopicProblemMapper">
    <!-- 通用映射 -->
    <resultMap id="BaseResultMap" type="com.glowxq.oj.topic.pojo.po.TopicProblem">
        <id column="id" property="id"/>
        <result column="topic_id" property="topicId"/>
        <result column="problem_id" property="problemId"/>
        <result column="required" property="required"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, topic_id, problem_id, required, create_time, update_time, del_flag, create_id, update_id
    </sql>

</mapper>
